<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link id="callCss" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" media="screen" charset="utf-8" />

	<link id="callCss"rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen" charset="utf-8" />
	<link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">

</head>
<body>
	<div id="headerSection">
	<div class="container">

	<div class="row">
	 <div class="row fluid">

	 <div class="span12">
	 <div class="span12 logo cntr"><a href="#"><img src="{{ url_for('static', filename='img/logo1.png') }}" alt="" /></a></div>

	 </div>
	 </div>
	</div>

     <div class="row">
	 <div class="row fluid">

	 <div class="span12">
	 <div class="span12 logo cntr"><a href="#"><img src="{{ url_for('static', filename='img/logo3.png') }}" alt="" /></a></div>

	 </div>
	 </div>
	</div>

	
	
		<div class="navbar">
		
			
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="#ourServices">What is ignite</a></li>
					<li><a href="#portfolioSection">Scientific</a></li>
					
					<li><a href="#recentpostSection">Gallery</a></li>
					<li><a href="#meetourteamSection">Contact</a></li>
					<li><a href="#Sponsers">Sponsers</a></li>
				</ul>
			</div>
			
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	</div>
	</div>
<!--Header Ends================================================ -->

<div id="carouselSection" class="cntr"> 
		<div id="myCarousel" class="carousel slide">
		
			<div class="carousel-inner">
				<div class="item active">
					<a class="cntr" href="#"><img src="{{ url_for('static', filename='img/1.png') }}" alt=""></a>
				</div>
				
				<div class="item">
					<a class="cntr" href="#"><img src="{{ url_for('static', filename= 'img/2.png') }}" alt=""></a>
				</div>
				<div class="item">
					<a class="cntr" href="#"><img src="{{ url_for('static', filename= 'img/3.jpg') }}" alt=""></a>
				</div>
				<div class="item">
					<a class="cntr" href="#"><img src="{{ url_for('static', filename= 'img/4.jpg') }}" alt=""></a>
				</div>
				
				
			</div>
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
</div>

<!-- Sectionone block ends======================================== -->
 

<!-- Our Services======================================== -->
<div id="ourServices"> 	
<div class="container">	
				<div class="row">
                
                <div class="row-fluid">
      <div class="span12">
      
      <div class="info-img">
        <img src="{{ url_for('static', filename='img/whatis.png')}}" ></div>
        <h1>What is IGNITE</h1>
        <p>After the success of the inaugural edition of IGNITE, the inter-collegiate annual scientific meet of Manipal College Of Dental Sciences, Manipal, we are organising IGNITE ’15 from 23rd-25th April,2015 on a bigger scale. The three day event will include paper presentations, e-poster presentations, table clinic, dental debate, quiz and keynote lectures by eminent speakers More than 25 colleges from Karnataka and neighbouring states are participating in this edition of IGNITE thus making the event a small hub for dental students throughout the state. The primary aim of IGNITE is to serve as an effective inter-collegiate platform for dental students and interns, which will eventually act as a medium to provide essential practice and confidence to aspiring dentists for bigger exposures nationally and internationally. Through this fest, we also intend to bring together students/interns to facilitate exchange of knowledge, ideas and sharing of literary talents.
         </p>
      </div>
      <!--<div class="span4">
        <div class="info-img"><img src="themes/img/img-2.png" ></div>
        <h4>Great Ideas</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p>
      </div>
      <div class="span4">
        <div class="info-img"><img src="themes/img/img-3.png" ></div>
        <h4>Browser  Compatibility</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p>
      </div>
    </div>  -->
		
		
		
		
		
		
</div>
</div>
</div>

<!-- Our Portfolio======================================== -->



<!-- Blog Section -->


<!-- Registrations======================================= -->
<div id="portfolioSection"> 	
<div class="container">	

<div class="row">
                
                <div class="row-fluid">
      <div class="span12">
      
      
        <h1>Scientific</h1>

        </div>
        </div>
        


				<div class="row">
                
                <div class="row-fluid">
      <div class="span4">
      
     
       
        <h4><u>Schedule</u></h4>
        <p>download the shedule here </p>
        <a  id="abc"href="/shedule"> Shedule  </a>

         
      </div>
      <div class="span4">
        
        <h4><u>Guidelines</u></h4>
         <p>Download the PDF for the Guidelines</p>
         <a  id="abc" href="/guide"> Guiedlines </a>
      </div>
      <div class="span4">
       
        <h4><u>Registration Form</u></h4>
         <p>Download the Registration form here.
         Registration fees for delegate is Rs 400/-</p>
         <a  id="abc" href="/register">Registration form</a>
      </div>
    </div>  
	
		
		
		
		
		
</div>
</div>
</div>
<!-- Gallery======================================== -->
<div id="recentpostSection">
<div class="span6"><h1 class="cntr">Gallery</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p>
</div>


<div class="clr"></div>

<div class="tabbable tabs">
<div class="tab-content label-primary">

	<div class="tab-pane active" id="all">
	<ul class="thumbnails">
	
		<li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#myModal1" role="button"  data-toggle="modal"><img src="themes/img/img-4.png" alt=""></a>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#"><img src="themes/img/img-5.png" alt=""></a>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#"><img src="themes/img/img-6.png" alt=""></a>
				</div>
			</div>
		</li><li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#"><img src="themes/img/img-7.png" alt=""></a>
				</div>
			</div>
		</li><li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#"><img src="themes/img/img-8.png" alt=""></a>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#"><img src="themes/img/img-9.png" alt=""></a>
				</div>
			</div>
		</li>		
		
			
	</ul>
    
	</div>

	</div>
	</div>
	</div>
	


<!-- our team 2 -->

<!--our sponsers -->
<div id="Sponsers">
<div class="row span12 cntr"><h1 class="cntr">Our Sponsers</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p>
</div>


<div class="clr"></div>

<div class="row cntr floated">

<div class="tabbable tabs">
<div class="tab-content label-primary">

	<div class="tab-pane active" id="all">
	<ul class="thumbnails">
	
		<li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#myModal1" role="button"  data-toggle="modal"><img src="themes/img/img-4.png" alt=""></a>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#"><img src="themes/img/img-5.png" alt=""></a>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#"><img src="themes/img/img-6.png" alt=""></a>
				</div>
			</div>
		</li><li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#"><img src="themes/img/img-7.png" alt=""></a>
				</div>
			</div>
		</li><li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#"><img src="themes/img/img-8.png" alt=""></a>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<div class="blockDtl">
				<a href="#"><img src="themes/img/img-9.png" alt=""></a>
				</div>
			</div>
		</li>		
		
			
	</ul>
    
	</div>
	</div>

	</div>
	</div>
	</div>

<!-- +++++++++++++++++++++++++++++++++++++  -->
<div id="meetourteamSection">
<div class="span6"><h1 class="cntr">MEET OUR TEAM</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p></div>
<div class="container">	
	
<div class="tabbable tabs">
<div class="tab-content label-primary">

	<div class="tab-pane active" id="all">
	<ul class="thumbnails">
	
		<li class="span5">
			<div class="thumbnail">
				<div class="blockDtl">
				
                <h4>SHANAHAS MOHAMED</h4>
                <h5>Joint Secretary</h5>
                <p>PH: +91 9035081762 </p>
                <p>shanumohd6@gmail.com</p>
               
				</div>
			</div>
		</li>
		<li class="span5">
			<div class="thumbnail">
				<div class="blockDtl">
				
                <h4>MERAJ ALAM</h4>
                <h5>President</h5>
                <p>PH: +91 9986821716</p>
                <p>merajalam4191@gmail.com</p>
               
				</div>
			</div>
		</li>
		
		
			
	</ul>
   
    
	</div>
	
	
	
	

	
	
</div>
</div>
</div>
</div>


<!-- Contact Section -->

        
     <div class="footerSection container">
	
       
                <div class=" span4 socialicon">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/pages/MCODS-Ignite-2015/1388715864768554"></a>
                    
                    
                    
                </div>
                
        
	
		<div class="span8 copyright"><p>  Copyright 2014 | Developed By <a href="http://www.tb3.co.in">tB3</a></p></div>
	</div>

        
        
        
</div> 
<!-- Wrapper end -->


<a href="#" class="go-top" ><i class="icon-arrow-up"></i></a>

<!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollTo-1.4.3.1-min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.easing-1.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/default.js') }}"></script>

<script type="text/javascript">

	$(document).ready(function() {
	$('#myCarousel').carousel({
	  interval: 7000
	});
	
	});
	
	
	
	
 
</script>










</body>
</html>